.slider h3,
.slider h5{
    text-shadow: 1px 1px 5px rgba(0, 0, 0, .5);
}
.parallax-container{
    height: 50%;
}

.client img{
    max-width: 250px;
    max-height: 80px;
    margin-top: 50px;
}

section, footer{
    padding: 20px 0;
}

